<div class="page-content-blue">
  <div class="top">
    <div class="title-dot title-dot-green">&nbsp;</div>
    <div class="title-text">Track<span>...</span></div>
    <div class="intro">This is the tracking app for customers, managed by the freight forwarder (Panalpina) including
      data
      shared by the carrier (CargoLux).</div>
  </div>
  <div class="page" *ngIf="viewState==='main'">
    <div class="page-content">
      <div class="component-header">
        <h2>Shipments</h2>
      </div>
      <div class="grid-wrapper">
        <kendo-grid [data]="shipmentsArray">
          <kendo-grid-column field="awb" title="AWB" width="60"></kendo-grid-column>
          <kendo-grid-column field="SSCC" title="SSCC" width="60"></kendo-grid-column>
          <kendo-grid-column field="from" title="From" width="100"></kendo-grid-column>
          <kendo-grid-column field="to" title="To" width="100"></kendo-grid-column>
          <kendo-grid-column field="date" title="Date" width="100"></kendo-grid-column>
          <kendo-grid-column title="" width="60" class="column-with-button">
            <ng-template kendoGridCellTemplate let-dataItem>
              <button (click)="onDetailButtonClick(dataItem.id)" class="button-status button-radial-out"
                title="Go to detail view">Track</button>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
  </div>

  <div class="page" *ngIf="viewState==='details'">
    <kosmos-shipment-detail [onBack]="onBackButtonClick"></kosmos-shipment-detail>
  </div>
</div>
