
<div class="top">
    <div class="title-dot title-dot-orange">&nbsp;</div><div class="title-text"><span>...</span>and blockchain</div>
    <div class="intro">This is the console showing the generation of blocks and transactions in blockchain, triggered by each scan of GS1 codes.</div>
</div>
<div class="console-page">
  <div class="dotted-line">&nbsp;</div>
  <div class="block">
  <ul>
    <li>Shipment AWB123456
      <ul>
        <li>Milestone PUP
          <ul>
            <li>Location</li>
            <li>Scheduled</li>
            <li>Estimated</li>
            <li>Actual</li>
            <li>Incident</li>
            <li>Temperature Data</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="block">
    <ul>
      <li>Shipment AWB123456
        <ul>
          <li>Milestone PUP
            <ul>
              <li>Location</li>
              <li>Scheduled</li>
              <li>Estimated</li>
              <li>Actual</li>
              <li>Incident</li>
              <li>Temperature Data</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>