<div class="top">
  <div class="title-dot title-dot-orange">&nbsp;</div>
  <div class="title-text"><span>... </span>and the blockchain</div>
  <div class="intro">This is the console showing the generation of blocks and transactions in blockchain, triggered by
    each scan of GS1 codes.</div>
</div>
<div class="console-page">
  <div class="dotted-line">&nbsp;</div>
  <div *ngFor="let block of blocksArray" class="block">
    <div class="block-header"><label>Block # </label>{{block.hash}}</div>
    <ul class="block-content">
      <li><label>Created: </label>{{block.created | date}}</li>
      <br>
      <li><label>Shipment: </label>{{block.awb}}</li>
      <li><label>Milestone: </label>{{block.milestone}}</li>
      <li><label>SSCC: </label>{{block.sscc}}</li>
    </ul>
    <div class="block-header"><label>Prev block # </label>{{block.prevHash}}</div>
  </div>
</div>