<div class="top">
  <div class="title-dot title-dot-orange">&nbsp;</div>
  <div class="title-text"><span>...</span>and blockchain</div>
  <div class="intro">This is the console showing the generation of blocks and transactions in blockchain, triggered by
    each scan of GS1 code.</div>
</div>
<div class="console-page">
  <div class="dotted-line">&nbsp;</div>
  <div *ngFor="let block of blocksArray" class="block">
    <ul>
      <li>Shipment: {{blockObject.awb}}
        <ul>
          <li>SSCC: {{blockObject.sscc}}</li>
          <li>Milestone: {{blockObject.milestone}}</li>
        </ul>
      </li>
      <li>Block
        <ul>
          <li>hash: {{blockObject.hash}}</li>
          <li>prev hash: {{blockObject.prevHash}}</li>
          <li>created: {{blockObject.created}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
