<div class="top">
    <div class="title-dot title-dot-blue">&nbsp;</div><div class="title-text">Scan GS1 codes</div>
    <div class="intro">This is to mock up the scanning activites of GS1 codes, performed by the operator (Panalpina + Cargolux) at each milestone.</div>
</div>
<div class="scan-page">

  <div class="scan-button-container"><button class="scan-button">Scan SSCC</button> to create a shipment</div>
  <div class="scan-button-container"><button class="scan-button">Scan SSCC + GTIN</button> to update milestone PUP</div>
  <div class="scan-button-container"><button class="scan-button">Scan SSCC + GTIN</button> to update milestone DEP</div>
  <div class="scan-button-container"><button class="scan-button">Scan SSCC + GTIN</button> to update milestone ARR</div>
  <div class="scan-button-container"><button class="scan-button">Scan SSCC + GTIN</button> to update milestone POD</div>
</div>