.shipment-route {
    position: fixed;
    right: 5%;
    bottom: 5%;
    top: 20%;
    height: 75%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    z-index: 6;
    width: 400px;
  }
  
  .shipment-route-header {
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
  }
  
  
  .track-modal-window{width: 100%; display: flex; margin-bottom: 20px; flex-wrap: wrap; color: #373c8c;}
  .track-modal-window-row{width: 100%; display: flex; flex-wrap: wrap;}
  .track-modal-window-column-left{width: 30%; font-size: 12px; text-transform: uppercase; font-weight: 300;}
  .track-modal-window-column-right{width: 70%; font-weight: 600;}
  .track-modal-window button{position: absolute; right: 0; bottom: 0;}
  
  .shipment-route-gap-grey,
  .shipment-route-gap-green {
    position: absolute;
    width: 15px;
    height: calc(100% - 253px);
    top: 80px;
    left: 76px;
    background: #c8c8c8;
  }
  .shipment-route-gap-green {
    background: #41be41;
  }
  
  #scrollbarPreview {
    margin-top: 60px;
  }
  
  .shipment-route-footer {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 6;
    width: 400px;
    height: 175px;
  }
  
  .shipment-route-milestone-container {
    height: calc(100% - 235px);
  }
  .Air-icon {
    background-image: url(/assets/common/images/icons/FilterAir.svg);
  }
  .OceanFCL-icon {
    background-image: url(/assets/common/images/icons/FilterOcean.svg);
  }
  .OceanLCL-icon {
    background-image: url(/assets/common/images/icons/FilterOceanLCL.svg);
  }
  .Overland-icon {
    background-image: url(/assets/common/images/icons/FilterOverland.svg);
  }
  .Wharehousing-icon {
    background-image: url(/assets/common/images/icons/FilterWharehousing.svg);
  }
  :host /deep/ .k-grid-header {
    display: none !important;
  }
  
  .tracking-entity-relations-container {
    width: 100%;
  }
  
  :host ::ng-deep.surprise-section .k-grid-content {
    overflow-y: hidden;
  }
  :host ::ng-deep.surprise-section .k-widget,
  :host ::ng-deep.surprise-section tr {
    background: transparent;
  }
  .page-title-with-share{
    width:100%;
  }
  
  /*
  :host ::ng-deep.k-master-row,
  :host ::ng-deep.k-alt.k-master-row {
    background: transparent;
    */ /*
    background: #797a8c !important;
    box-shadow: inset 0px 60px 60px -60px rgba(0, 0, 0, 0.6);
    color: #fff;*/
  /*}*/
  
  /*
  
  :host::ng-deep.codeColumn{width: 80px;}
  
  :host::ng-deep button.action{
    background: #959bff;
    padding: 0;
    border-radius: 0;
    border: 0;
    margin: 0;
    height: 45px;
    width: 80px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  */
  /*
  .detail-wrapper {
    color: white;
    background: #797a8c !important;
    box-shadow: inset 0px 60px 60px -60px rgba(0, 0, 0, 0.6);
  }
  
  */
  :host ::ng-deep .last-bullet-container {
    height: 43px;
  }
  :host {
    width: 100%;
  }
  
  @media (max-width: 1000px) {
    .shipment-route {
      position: relative;
      right: 0;
      bottom: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-top: 0;
    }
  
    #scrollbarPreview {
      display: none;
    }
  
    .shipment-route-footer {
      position: relative;
      bottom: 0;
      right: 0;
      width: 100%;
    }
  
    .shipment-route-milestone-container {
      overflow-y: unset;
    }
  
    :host ::ng-deep.surprise-section td,
    :host ::ng-deep.surprise-section .k-treeview .k-in {
      padding: 0;
      width: 100%;
      justify-content: space-between;
    }
  }
  
  /* For IE */
  
  @supports (-ms-ime-align: auto) {
    .milestone-icon {
      margin: -10px 0px 0px -10px;
    }
    #scrollbarPreview {
      display: none;
    }
    .shipment-reference img {
      height: 42px;
    }
  }
  
  @media screen\0 {
    .milestone-icon {
      margin: -10px 0px 0px -10px;
    }
    #scrollbarPreview {
      display: none;
    }
    .shipment-reference img {
      height: 42px;
    }
  }
  